[submodule "01-creating-a-window/external/glfw"]
	path = 01-creating-a-window/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "02-hello-square/external/glfw"]
	path = 02-hello-square/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "02-hello-triangle/external/glfw"]
	path = 02-hello-triangle/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "03-shaders/external/glfw"]
	path = 03-shaders/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "04-textures/external/glfw"]
	path = 04-textures/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "05-transformations/external/glfw"]
	path = 05-transformations/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "05-transformations/external/cglm"]
	path = 05-transformations/external/cglm
	url = https://github.com/recp/cglm.git
[submodule "06-coordinate-systems/external/glfw"]
	path = 06-coordinate-systems/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "06-coordinate-systems/external/cglm"]
	path = 06-coordinate-systems/external/cglm
	url = https://github.com/recp/cglm.git
[submodule "07-camera/external/glfw"]
	path = 07-camera/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "07-camera/external/cglm"]
	path = 07-camera/external/cglm
	url = https://github.com/recp/cglm.git
[submodule "08-basic-lighting/external/glfw"]
	path = 08-basic-lighting/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "08-basic-lighting/external/cglm"]
	path = 08-basic-lighting/external/cglm
	url = https://github.com/recp/cglm.git
[submodule "09-materials/external/glfw"]
	path = 09-materials/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "09-materials/external/cglm"]
	path = 09-materials/external/cglm
	url = https://github.com/recp/cglm.git
[submodule "10-lighting-maps/external/glfw"]
	path = 10-lighting-maps/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "10-lighting-maps/external/cglm"]
	path = 10-lighting-maps/external/cglm
	url = https://github.com/recp/cglm.git
[submodule "11-light-casters/external/glfw"]
	path = 11-light-casters/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "11-light-casters/external/cglm"]
	path = 11-light-casters/external/cglm
	url = https://github.com/recp/cglm.git
[submodule "12-multiple-lights/external/glfw"]
	path = 12-multiple-lights/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "12-multiple-lights/external/cglm"]
	path = 12-multiple-lights/external/cglm
	url = https://github.com/recp/cglm.git
[submodule "13-mesh/external/glfw"]
	path = 13-mesh/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "13-mesh/external/cglm"]
	path = 13-mesh/external/cglm
	url = https://github.com/recp/cglm.git
[submodule "13-mesh/external/assimp"]
	path = 13-mesh/external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "14-model/external/glfw"]
	path = 14-model/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "14-model/external/cglm"]
	path = 14-model/external/cglm
	url = https://github.com/recp/cglm.git
[submodule "14-model/external/assimp"]
	path = 14-model/external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "15-depth-testing/external/glfw"]
	path = 15-depth-testing/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "15-depth-testing/external/cglm"]
	path = 15-depth-testing/external/cglm
	url = https://github.com/recp/cglm.git
[submodule "15-depth-testing/external/assimp"]
	path = 15-depth-testing/external/assimp
	url = https://github.com/assimp/assimp.git
